<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['infos']">
        <img
          src="../assets/header-icons/casa.svg"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Prefeitura
      </a>
    </div>
  </nav>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-fill nav-tabs card-header-tabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="true"
            [routerLink]="['infos']"
            ><img
              src="../assets/nav-icons/chama.svg"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="true" [routerLink]="['contribute']"
            ><img
              src="../assets/nav-icons/megafone.svg"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
          /></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="true"
            [routerLink]="['contributions']"
            ><img
              src="../assets/nav-icons/seguindo.svg"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="true" [routerLink]="['contacts']"
            ><img
              src="../assets/nav-icons/comentarios-pergunta.svg"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</main>
