<h1 class="text-center my-2">Contribuir:</h1>
<p>Ao clicar em enviar sua localização atual também será enviada</p>

<form #contributeForm="ngForm" (ngSubmit)="onSubmit(contributeForm)">
  <div class="mb-3">
    <label for="content" class="form-label">Conteúdo</label>
    <div class="input-group has-validation">
      <textarea
        class="form-control"
        rows="3"
        id="validationServerUsername"
        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
        name="content"
        #content="ngModel"
        [ngModel]="content.value"
        required
      ></textarea>
      <div id="validationServerUsernameFeedback" class="invalid-feedback">
        Please choose a username.
      </div>
    </div>

    <div
      class="invalid-feedback"
      *ngIf="content.invalid && (content.dirty || content.touched)"
    >
      Informe o conteúdo
    </div>
  </div>
  <div class="mb-3">
    <label for="department" class="form-label">Departamento</label>
    <select
      class="form-control"
      placeholder="Informe o departmento"
      name="department"
      #department="ngModel"
      [ngModel]="department.value"
      required
    >
      <option selected>Selecione um departmento</option>
      <option *ngFor="let item of departments" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  <button
    [disabled]="contributeForm.invalid"
    type="submit"
    class="btn btn-primary btn-lg"
  >
    Enviar
  </button>
</form>
